div {
    border: 2px solid rgba(56, 22, 87, 0.274);
}

.card-container{
    background-color: rgb(238, 229, 189);
    border: 1px solid black;
    padding: 0px 5px;
    width: 10rem;
}

.card-image-container{
    padding: 5px;
    height: 50%;
}

.card-image{
    width: 100%;
    height: 100%;
}

.card-data{
    background-color: aliceblue;
    height: 5rem;
}

.card-description{
    padding: 10px;
}

.hoverable:hover {
    opacity: 25%;
}



:root{
    --ff-body: 'Markazi Text', serif;
    --ff-heading: 'Rubik', serif;

    --clr-primary-400: hsl(340, 100%, 97%);
    --clr-neutral-900: hsl(0, 0%, 0%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(275, 18%, 79%);

    --fs-xl: clamp(3rem, 1rem + 10vw, 7rem);
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1.125rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    line-height: 1.6;
}

h1, .lead{
    font-family: var(--ff-heading);
    font-weight: 900;
}

h1 {
    font-size: var(--fs-600);
    line-height: 1;
    font-weight: 900;
}
h2 {
    font-family: var(--ff-heading);
    font-size: var(--fs-500);
    font-weight: 700;
}



article {
    display: grid;
}

article > *:not(img){
    padding: 0 2rem;
}

/* .lead{
    font-size: var(--fs-500);
    max-width: 40ch;
} */
.article-body {
    columns: 2 30ch;
    column-rule: 2px solid #cbc0d3;
    gap: 4rem;
    max-width: 100ch;
}
.article-body > p::first-line {
    font-weight: 550;
    color: rgb(86, 27, 141);
}
@media (min-width: 50em) {
    div{
        border: none ;
    }
    article {
        grid-template-columns: min(40%, 40rem);
    }
    article > img{
        grid-row: 1 / 4;
        height: 
    }
    article > *:not(img){
        grid-column: 2 / -1;
    }
}